.auth-bg {
    background-image: url('../assets/marble-bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    overflow-y: scroll;
}

.RegisterCard {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}