.Reservation {
    text-align: center;
    background-image: url('../assets/reservation_bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.Reservation-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Reservation-link {
    color: #61dafb;
}

.Register {
    height: 100%;
    min-width: 100vw;
    background-color: #F3EDC8;
}

.Login {
    text-align: center;
    /* background-image: url('./images/11-21\ AmoreMain.jpg');
    background-repeat: no-repeat;
    background-size:cover; */
    min-height: 50vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    color: white;
}