.Reservation {
    text-align: center;
    background-image: url('../assets/reservation_bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.Reservation-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Reservation-link {
    color: #61dafb;
}

.ReservationForm{
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
        color: black;
        text-align: left;
}

.Register {
    height: 100%;
    min-width: 100vw;
    background-color: #F3EDC8;
}

.Login {
    text-align: center;
    /* background-image: url('./images/11-21\ AmoreMain.jpg');
    background-repeat: no-repeat;
    background-size:cover; */
    min-height: 50vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    color: white;
}